*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    color: white;
    width: 100%;
    height: 30px;
}

main{
    background-color: black;
    color: white;
    height: calc(100vh - 130px);
    overflow: hidden;
    
}

footer{
    background-color: #222222;
    color: white;
    height: 100px;
}

.container{
    max-width: 90%;
    color: blue;
    margin: 0 auto;
    /* height: 100%; */
    vertical-align: middle;
    padding: 30px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-view{
    display: flex;
    float: right;
    padding: 5px;
}

.speaker-view{
    background-color: #4A4A4A;
}

.size-screen{
    padding-left: 10px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;

}

.card{
    width: calc(100% / 7 - 10px);
    padding: 3px;
    /* margin: 5px; */
}


.album-image{
    position: relative;
}

.album-image img{
    width: 100%;
}

.name-card{
    position: absolute;
    left: 0;
    bottom: 5px;
    background-color: gray;
    color: white;
    font-size: 0.9rem;
    padding: 3px;
}

.visual-option{
    display: flex;
    padding-left: 10px;
    text-align: center;
    font-size: 15px;
}

.microfono{

}

.video{
    padding-left: 30px;
}

.main-option{
    display: flex;
    text-align: center;
    font-size: 15px;
}

footer i{
    font-size: 1.7rem;
}

.invite{
    padding-right: 12px;
}

.manage-participants{
    padding-left: 20px;
}

.polling{
    padding-left: 20px;
}

.share{
    padding-left: 20px;
}

.share i{
    color: #4AC801;
}

.option i{
    font-size: 1.2rem;
    vertical-align: middle;
}

.padding-sx{
    padding-left: 20px;
}

.end-meeting{
    color: red;
    background-color: #4A4A4A;
    padding: 15px;
    font-size: 15px;
}